<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dpd_1a>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Blackmosquito\DPD_1A\Model\Carrier\DPD_1A</model>
                <name>BM DPD_1A</name>
                <price>7.50</price>
                <title>BM-DPD_1A</title>
                <type>I</type>
                <specificerrmsg>---</specificerrmsg>
            </dpd_1a>
        </carriers>
    </default>
</config> 
